<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"><span>M</span>ovie<span>B</span>ox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

  
  <li ngbDropdown class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" ngbDropdownToggle id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="dropdown01">
      <a class="dropdown-item" routerLink="/app-programs" routerLinkActive="active">Programm</a>
      <a class="dropdown-item" routerLink="/app-vorstellung" routerLinkActive="active">Vorstellung</a>
    </div>
  </li>
</ul>
<form class="form-inline mt-2 mt-md-0">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/app-login">Login</button>
</form>
</div>
</nav>